---
layout: default
---

{% if page.title  == "TA Team - Machine Learning" %}
	{% assign image_class = "hero__overlay_custom" %}
	{% assign cover_image = page.cover_image %}
{% else %}
	{% assign image_class = "hero__overlay" %}
	{% assign cover_image = page.featured_image %}
{% endif %}

<section class="hero hero--single">
	<div class="hero__image" style="background-image: url({{ cover_image | relative_url }})">
		<div class = {{image_class}}> </div>
	</div>

	<div class="wrap">
		{% if page.title != "TA Team - Machine Learning" %}
			{% if page.title != "TA Team - MLOps" %}
			<h1>{{ page.title }}</h1>
			<p>{{ page.subtitle }}</p>
			{% endif %}
		{% endif %}
	</div>

</section>

<section class="single">

	<div class="wrap">

		<article class="single-post">

			{{ page.content }}

		</article>

	</div>

</section>